footer
	.footer-top
		.container.container_flex
			a(href="#").logo
				img(src="./static/img/svg/logo.svg" alt="Travel Times - Турагенство")
			a(href="mailto:info@travel-times.ru").mail  info@travel-times.ru
			.social
				a(href="#").social__item.social__item_telegram
					img(src="./static/img/svg/telegram.svg")
				a(href="#").social__item.social__item_fb
					img(src="./static/img/svg/f-1.svg")
				a(href="#").social__item.social__item_vk
					img(src="./static/img/svg/vk-1.svg")
				a(href="#").social__item.social__item_insta
					img(src="./static/img/svg/insta.svg")
			.tel
				a(href="tel:+74951519105") +7 (495) 151-91-05
			button.btn Заказать звонок

	.footer-main
		.container.container_flex
			.copyright
				| © 2007-2017 Все права защищены. «Travel Times».<br>
				| Участник Реестра Туристических Агентств №АН100330<br>
				| Информация, представленная на сайте, не является публичной офертой.
			.block-list
				.map-list
					.map-list__title Поиск туров
					a(href="#").map-list__item Страны
					a(href="#").map-list__item Виды отдыха
					a(href="#").map-list__item Туры по месяцам
				.map-list
					.map-list__title О компании
					a(href="#").map-list__item Партнерство
					a(href="#").map-list__item Отзывы клиентов
					a(href="#").map-list__item Новости
				.map-list
					.map-list__title Услуги
					a(href="#").map-list__item Бронирование отелей
					a(href="#").map-list__item Аренда вилл
					a(href="#").map-list__item Заказ билетов
					a(href="#").map-list__item Выезд курьера
					a(href="#").map-list__item Визы
					a(href="#").map-list__item Страхование
					a(href="#").map-list__item Сертификаты
					a(href="#").map-list__item Туры в кредит
				.map-list
					.map-list__title Информация
					a(href="#").map-list__item Контакты
					a(href="#").map-list__item Гарантия лучшей цены
					a(href="#").map-list__item Способы оплаты
					a(href="#").map-list__item Безвизовые страны


