.fixed-adaptive-block
	.logo
		img(src='./static/img/svg/logo.svg', alt='trevel-time')
	.buttons
		.point
			a(href='/contacts/')
				img(src='./static/img/svg/mini-placeholder.svg')
		.sandwich
		.phone
			a(href='tel:+74955850976')
				img(src='./static/img/svg/mini-phone.svg')

.sandwich-menue
	ul
		li
			a(href='/strany/') Страны
		li
			a(href='/vidy-otdyha/') Виды отдыха
		li
			a(href='/novosti/') Новости
		li
			a(href='/about/') О компании
		li
			a(href='/informaciya/') Информация

.header
	.level-0
		.container.container_flex
			a(href="#").logo
				img(src="./static/img/svg/logo.svg" alt="Travel Times - Турагенство")
			.buy
				a(href="#").buy-tour Где купить тур?
				.schedule
					.schedule__item Пн-Пт:
						span 10:00-20:00
					.schedule__item Сб:
						span 11:00-16:00
			.social
				a(href="#").social__item.social__item_telegram
				a(href="#").social__item.social__item_fb
				a(href="#").social__item.social__item_vk
				a(href="#").social__item.social__item_insta
			.tel
				a(href="tel:+74951519105") +7 (495) 151-91-05
				span Горячая линия для туристов
			button.btn.get-callback Заказать звонок

	.menu.level-1
		.container
			.menu-block
				a(href="/strany/").menu__item Страны
				a(href="/vidy-otdyha/").menu__item Виды отдыха
				a(href="/novosti/").menu__item Новости
				a(href="/about/").menu__item О компании
				a(href="/informaciya/").menu__item Информация
				a(href="/hot-tour.html").menu__item.hot-tour горящие туры
			.sandwich
			.dropdown-menu(style='')
				.place
					.row
						.title Поиск туров
						ul.dropdown-list
							li
								a(href='/strany/') Страны
							li
								a(href='/vidy-otdyha/') Виды отдыха
							li
								a(href='/poisk-tura-po-vsem-turoperatoram/') Помощь в подборе тура
					.row
						.title О компании
						ul
							li
								a(href='/partnery/') Партнерство
							li
								a(href='/otzyvy/vse-otzyvy/') Отзывы клиентов
							li
								a(href='/novosti/') Новости
					.row
						.title Услуги
						ul
							li
								a(href='/uslugi/arenda-vill/') Аренда вилл
							li
								a(href='/uslugi/zakaz-biletov/') Заказ билетов
							li
								a(href='/uslugi/vyezd-kurera/') Выезд курьера
							li
								a(href='/uslugi/vizy/') Визы
							li
								a(href='/uslugi/strahovanie/') Страхование
							li
								a(href='/uslugi/sertifikaty/') Сертификаты
							li
								a(href='/uslugi/tury-v-kredit2/') Туры в кредит
					.row
						.title Информация
						ul
							li
								a(href='/contacts/') Контакты
							li
								a(href='/tury1/') Гарантия лучшей цены
							li
								a(href='/informaciya/sposoby-oplaty/') Способы оплаты
							li
								a(href='/informaciya/bezvizovye-strany/') Безвизовые страны
