doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" type='text/css' href="static/fonts/fonts.css")
		link(rel="stylesheet" type='text/css' href="static/css/jquery.fancybox.min.css")
		link(rel="stylesheet" type='text/css' href="static/css/style.css")
		link(rel="stylesheet" type='text/css' href="static/css/main-old.css")
		link(rel="stylesheet" type='text/css' href="static/css/main.css")
		link(rel="stylesheet" type='text/css' href="static/css/font-awesome.min.css")

		title
			block title
	body
		include ../modules/header
		.wrapper
			block content
		include ../modules/footer
		script(src="static/js/jquery.js")
		script(src="static/js/jquery.fancybox.min.js")
		script(src="static/js/libs.min.js")
		script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
		script(src="static/js/inputmask.min.js")
		script(src="static/js/jquery.inputmask.min.js")
		script(src="static/js/main.js")
		script(src="static/js/main-old.js")

