.bg-top
	background: #f5f7fa url("../img/general/bg-top.png") no-repeat center top
	background-size: cover
	height: 525px
	position: relative
	padding: 0
	overflow: hidden
	z-index: 40
	&_1
		position: absolute
		right: 5%
		top: 0
		transition: 0.4s
	&_2
		position: absolute
		left: 15%
		top: 0
		transition: 0.4s
	&_3
		position: absolute
		left: 0
		top: 0
		transition: 0.4s
	&_4
		position: absolute
		left: 20%
		z-index: 60
	&_5
		position: absolute
		left: 50%
		z-index: 100
		top: 30%
	&_6
		position: absolute
		right: 20%
		z-index: 100
		top: 10%
		transform: rotate(20deg)

.block-serch
	position: relative
	z-index: 100

.bg-top_animate .bg-top_1
		transition: 0.4s
		right: 6%
		top: -20px
		transform: rotate(-5deg)
.bg-top_animate .bg-top_2
		transition: 0.4s
		right: 8%
		top: 5%
		transform: rotate(5deg)
.bg-top_animate .bg-top_3
		transition: 0.4s
		top: 5%
		right: 8%
		transform: rotate(5deg)


.bg-top_orange
	background: #FFFFFF url("../img/general/top-bg-orange.png") no-repeat center top
	height: auto
	//background-size: contain
	.section-title
		+font-size(40px)
		margin-top: 50px

	.breadcrumbs
		margin-top: 18px
		a, span
			color: #444444
	.breadcrumbs li:after
		top: 12px

.bg-top_orange1
	position: absolute
	transition: 0.6s
	top: 5%
	right: 20%

.bg-top_orange2
	position: absolute
	transition: 0.6s
	top: -10%
	left: 20%

.bg-top_orange3
	position: absolute
	top: 20px
	right: 40%
.bg-top_orange4
	position: absolute
	top: 100px
	right: 15%

.bg-top_animate .bg-top_orange1
	transition: 0.6s
	top: 8%
	transform: rotate(15deg)
.bg-top_animate .bg-top_orange2
	transition: 0.6s
	transform: rotate(-15deg)
	top: -5%


.flex-center
	+flexBlockColumn
	justify-content: center
	height: 100%

.bg-top_orange
	.flex-center
		justify-content: flex-start

.travelling
	+flexBlockRow
	align-items: flex-start
	&__img
		margin-bottom: 20px
	&__item
		+flexBlockColumn
		width: 20%
		transition: 0.3s
		cursor: pointer
		&_first
			position: relative
			width: 130px
			height: 130px
			background-image: linear-gradient(to bottom, #00abf4, #83edff)
			border-radius: 50%
			+flexBlockColumn
			justify-content: center
			transition: 0.3s
			img
				position: relative
				z-index: 10
				width: 85px
			&:before
				content: ""
				position: absolute
				top: 20px
				background: url("../img/svg/balls-bg.svg") no-repeat center
				background-size: cover
				width: 96px
				height: 39px
				z-index: 1
		&_second
			position: relative
			border-radius: 50%
			+flexBlockColumn
			justify-content: center
			width: 130px
			height: 130px
			background-image: linear-gradient(to bottom, #0087c0, #33c5f8 67%, #83edff)
			transition: 0.3s
			&:before
				content: ""
				position: absolute
				top: 10px
				background: url("../img/svg/card-bg.svg") no-repeat center
				background-size: cover
				width: 96px
				height: 39px
				z-index: 1
		&_third
			border-radius: 50%
			+flexBlockColumn
			justify-content: center
			width: 130px
			height: 130px
			background-image: linear-gradient(to bottom, #00abf4, #83edff)
			transition: 0.3s
			position: relative
			img
				transition: 0.3s

		&_fourth
			position: relative
			border-radius: 50%
			+flexBlockColumn
			justify-content: center
			width: 130px
			height: 130px
			background-image: linear-gradient(to bottom, #0188c1 2%, #86e9ff)
			transition: 0.3s
			img
				z-index: 10
			&:before
				content: ""
				position: absolute
				top: 10px
				background: url("../img/svg/loop-bg.svg") no-repeat center
				background-size: cover
				width: 96px
				height: 39px
				z-index: 1
		&:hover .travelling__img
			transform: scale(1.06)
			transition: 0.3s
		&:hover .travelling__item_first img
			transform: scale(1.06)
			transition: 0.3s
		&:hover .travelling__item_third
			transform: scale(1.06)
			transition: 0.3s
		&:hover .money-img
			transform: scale(1.06)
			transition: 0.3s
			left: 15px
			top: 23px
		&:hover .travelling__item_third img
			transform: rotate(220deg)
			transition: 0.3s

		&:hover .travelling__item_fourth img
			transform: scale(1.01)
			transition: 0.3s
			left: 18px
			top: 23px
		&:hover .travelling__item_fourth
			.block-rect
				top: 33px
				right: 34px

	&__title
		color: #3d4654
		+font-size(18px)
		width: 100%
		max-width: 180px
		font-weight: bold
		text-align: center
		margin-bottom: 10px
		line-height: 1.06
		font-family: 'SF UI Display-bold'
		transition: 0.3s
	&__text
		font-family: 'SF UI Display-m'
		color: #3d4654
		+font-size(14px)
		width: 100%
		max-width: 270px
		line-height: 17px
		font-weight: 500
		text-align: center

.travelling__item:hover .travelling__title
	transform: scale(1.08)
	transition: 0.3s

.travelling-icon
	position: absolute
	transition: 0.3s

.money-img
	position: absolute
	top: 18px
	left: 22px
	transition: 0.3s
.money
	left: 9px
	top: 45px
	width: 67px
	height: 75px
	z-index: 20
	transition: 0.3s
.telephone
	z-index: 30
	transition: 0.3s
	top: 30px
	left: 35%


.card
	z-index: 40
	right: 10px
	transition: 0.3s
	top: 50px

.travelling__item:hover .money
	transform: rotate(16deg)
	transition: 0.3s

.travelling__item:hover .telephone
	transition: 0.3s
	transform: rotate(10deg)

.travelling__item:hover .card
	transform: rotate(14deg)
	transition: all 0.3s
.block-rect
	width: 50px
	height: 50px
	border-radius: 50%
	overflow: hidden
	position: absolute
	top: 34px
	right: 34px
	z-index: 20
.rect
	width: 50px
	height: 50px
	border-radius: 50%
	display: flex
	flex-wrap: wrap
	position: absolute
	&__item
		width: 25%
		height: 25%
		display: inline-block
		transition: 0.3s
		position: absolute

.rect-1
	background-image: linear-gradient(to bottom, #00a540, #0ca282)
	transition: 0.3s
	left: 0
	top: 0

.rect-2
	background-image: linear-gradient(to bottom, #fffa0d, #ffcf27)
	transition: 0.3s
	left: 25%
	top: 0
	z-index: 10

.rect-3
	background-image: linear-gradient(to bottom, #ffb40a, #ff8404)
	transition: 0.3s
	left: 50%
	top: 0
.rect-4
	background-image: linear-gradient(to bottom, #00a549, #0ca282)
	transition: 0.3s
	left: 75%
	top: 0

.rect-5
	background-image: linear-gradient(to bottom, #ffb80a, #ff8204)
	transition: 0.3s
	top: 25%
	left: 0

.rect-6
	background-image: linear-gradient(to bottom, #0bb1f5, #5ed9fa)
	transition: 0.3s
	top: 25%
	left: 25%
	z-index: 5
.rect-7
	background-image: linear-gradient(to bottom, #fffa0d, #ffcf27)
	transition: 0.3s
	top: 25%
	left: 50%
	z-index: 10
.rect-8
	background-image: linear-gradient(to bottom, #0bb1f5, #5ed9fa)
	transition: 0.3s
	top: 25%
	left: 75%
	z-index: 5

.rect-9
	background-image: linear-gradient(to bottom, #ffb80a, #ffe704)
	transition: 0.3s
	top: 50%
	left: 0
.rect-10
	background-image: linear-gradient(to bottom, #02a55b, #1dd18e)
	transition: 0.3s
	top: 50%
	left: 25%
	z-index: 10
.rect-11
	background-image: linear-gradient(to bottom, #ffb80a, #ff8204)
	transition: 0.3s
	top: 50%
	left: 50%
	z-index: 5
.rect-12
	background-image: linear-gradient(to bottom, #ffb80a, #ffe704)
	transition: 0.3s
	top: 50%
	left: 75%

.rect-13
	background-image: linear-gradient(to bottom, #009235, #0ca282)
	transition: 0.3s
	top: 75%
	left: 0
.rect-14
	background-image: linear-gradient(to bottom, #ffb80a, #ff8204)
	transition: 0.3s
	top: 75%
	left: 25%
	z-index: 5
.rect-15
	background-image: linear-gradient(to bottom, #02a55b, #1dd18e)
	transition: 0.3s
	top: 75%
	left: 50%
	z-index: 10
.rect-16
	background-image: linear-gradient(to bottom, #18b8f6, #52d3f9)
	transition: 0.3s
	top: 75%
	left: 75%

.travelling__item
	&:hover .rect-2
		transition: 0.5s
		top: 25%
	&:hover .rect-6
		transition: 0.5s
		top: 0
	&:hover .rect-7
		left: 75%
		transition: 0.5s
	&:hover .rect-8
		left:  50%
		transition: 0.5s
	&:hover .rect-10
		transition: 0.5s
		top: 75%
	&:hover .rect-11
		transition: 0.5s
		top: 75%
	&:hover .rect-14
		transition: 0.5s
		top: 50%
	&:hover .rect-15
		transition: 0.5s
		top: 50%



.rest-block
	background: #f5f7fa url("../img/general/path-3.png")
	//background-size: cover
	padding: 100px 0
	padding-top: 150px
	//margin-top: -100px
	&_bg
		background: #FFFFFF
		//background: #FFFFFF url("../img/general/path-3.png")
		padding-top: 100px
.rest
	+flexBlockRow
	justify-content: flex-start
	align-items: flex-start
	&__item
		display: inline-block
		width: 275px
		height: 275px
		align-items: flex-start
		position: relative
		cursor: pointer
		margin-bottom: 27px
		margin-right: 26px
		&:nth-child(4n)
			margin-right: 0
		.btn
			position: absolute
			bottom: 15px
			right: 20px
			transition: 0.3s
			z-index: 20
			color: #373737
			text-transform: uppercase
			+font-size(13px)
			font-family: 'SF UI Display-bold'

		&:hover .btn
			background-color: #FFFFFF
			bottom: 20px
			box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.35)
			transition: 0.3s

	&__title
		font-family: 'SF UI Display-heavy'
		text-transform: uppercase
		padding-top: 37px
		padding-left: 22px
		text-align: left
		color: #FFFFFF
		+font-size(55px)
		font-weight: 900
		line-height: 0.9
		margin-bottom: 20px
		position: relative
		z-index: 20

	&__text
		font-family: 'SF UI Display-m'
		+font-size(15px)
		color: #444444
		padding-left: 22px
		font-weight: 500
		width: 100%
		max-width: 252px
		line-height: normal

.show-more-block
	width: 100%
	text-align: center
.show-more
	display: inline-block
	+font-size(18px)
	margin-top: 10px
	border-radius: 25px
	padding: 16px 58px
	line-height: 1
	font-family: 'SF UI Display-heavy'

.item-hide
	display: none

.rest__item-cruise
	background: #00abf4
	position: relative
	overflow: hidden
	transition: 0.6s
	.rest__title
		position: relative
		z-index: 30
	&:before
		position: absolute
		bottom: 0
		right: -35px
		content: ""
		width: 321px
		height: 210px
		display: block
		background: url("../img/general/cruise.png") no-repeat 50%
		transition: 0.6s
		background-size: cover
		z-index: 50
	&:hover.rest__item-cruise:before
		right: -10px
		transition: right 0.6s
		background-size: cover
	.btn
		z-index: 60

.rest__item-child
	background-color: #ffbe00

.rest__item-travell
	background-image: linear-gradient(to bottom, #00abf4, #46e2ff)
.rest__item-exotic
	background: #ffbe00 url("../img/svg/exotic.svg") no-repeat right bottom
	&:hover
		background: #ffbe00 url("../img/svg/exotic.svg") no-repeat right 150%

.rest__item-group
	background-image: linear-gradient(184deg, #ffa102, #ff9601 42%, #ff6902)

.rest__item-mountain
	background: #00abf4 url("../img/general/gory.png") no-repeat right bottom
	&:hover
		background: #00abf4 url("../img/general/gory.png") no-repeat right 150%
.rest__item-beach
	background-image: linear-gradient(184deg, #ffa102, #ff9601 42%, #ff6902)
	position: relative
	overflow: hidden
	&:hover .tree1
		transform: rotate(10deg)
		left: 15px
		transition: 0.3s
	&:hover .tree2
		transform: rotate(-10deg)
		right: 15px
		transition: 0.3s
.tree1
	position: absolute
	bottom: 5px
	left: 10px
	z-index: 10
	transition: 0.3s
.tree2
	position: absolute
	bottom: 40px
	right: 10px
	z-index: 10
	transition: 0.3s

.rest__item-newyear
	background-image: linear-gradient(to bottom, #00abf4, #49e4ff)
	position: relative
	.rest__title
		position: relative
		z-index: 15
	&:hover .snow
		top: 30px
		transition: 0.3s
	&:hover .toy1
		transition: 0.3s
		transform: rotate(-15deg)
	&:hover .toy2
		transition: 0.3s
		transform: rotate(15deg)
	&:hover .stars
		opacity: 1
		transition: 0.3s

.snow
	transition: 0.3s
	position: absolute
	z-index: 50
	width: 230px
	height: 200px
	top: 15px
	left: 10px

.stars
	position: absolute
	bottom: 40px
	left: 85px
	z-index: 40
	opacity: 0

.toy1
	position: absolute
	top: 59%
	left: 24%
	transition: 0.3s
	z-index: 15

.toy2
	transition: 0.3s
	position: absolute
	top: 50%
	right: 50%
	z-index: 15

.cr-tree
	position: absolute
	right: 0
	top: 85px
	z-index: 10

.form-callback
	background: #FFFFFF url("../img/general/group-2@2x.png") no-repeat center
	background-size: cover
	width: 100%
	padding: 150px 0
	position: relative
	&_blue
		background: url("../img/general/bg-blue.png") no-repeat center
		background-size: cover
		.btn
			background-color: $orange
	&_blue2
		position: relative
		background: url("../img/general/bg-blue2.png") no-repeat center
		background-size: cover
	.container
		position: relative
		z-index: 10


.letter
	position: absolute
	z-index: 1
.letter1
	right: 10%
	top: 50%
.letter2
	left: 15%
	top: 30%
.letter3
	left: 5%
	top: 60%

.callback
	+flexBlockRow
	justify-content: center
	width: 100%
	max-width: 756px
	margin: auto
	&__item
		input
			width: 270px
			margin-right: 5px
			height: 45px
			padding-left: 15px
			border: none
		input::placeholder
			font-family: 'SF UI Display-m'
			font-weight: 500
			color: #5d697a
			font-size: 1rem
	.btn
		font-family: 'SF UI Display-heavy'
		+font-size(16px)
		border-radius: 0
		height: 45px
		width: 205px
		text-transform: uppercase

.tab-filter
	font-family: 'SF UI Display-m'
	+flexBlockRow
	width: 100%
	justify-content: center
	font-weight: 500
	color: #3e4857
	margin-bottom: 34px
	span
		cursor: pointer
	&_active
		color: $lightBlue
.coutry
	width: 100%
	max-width: 1100px
	margin: auto
	margin-bottom: 50px
	column-count: 6
	li
		width: 193px
		font-weight: 600
		+font-size(15px)
		color: #3e4758
		display: inline-block
		cursor: pointer
		margin-bottom: 8px
		line-height: 1
		a
			font-weight: 600
			line-height: 1
			+font-size(15px)
			color: #3e4758
		img
			width: 17px
			height: 11px
			margin-right: 15px
.agreement
	font-family: 'SF UI Display-m'
	color: #495a72
	width: 100%
	max-width: 756px
	text-align: left
	margin: auto
	+font-size(13px)
	margin-top: 12px
	a
		color: #495a72
		border-bottom: 1px solid
		line-height: 1.21
	&_white
		color: #FFFFFF
		a
			color: #fff
.news + .show-more-block
	margin-top: 20px

.news
	text-align: center
	width: 100%
	max-width: 1040px
	margin: auto
	padding: 0 30px

	&__text-block
		padding: 20px
	&__img
		overflow: hidden
		img
			width: 100%
			transition: 0.3s
	&__item
		width: 297px
		margin: 15px 18px
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)
		display: inline-block
		cursor: pointer
		position: relative
		margin-bottom: 10px
		&:hover .news__img img
			transform: scale(1.2)
			transition: 0.3s
		&:hover
			box-shadow: 0 1px 17px 0 rgba(0, 0, 0, 0.2)

	&__title
		font-family: 'SF UI Display-heavy'
		text-align: left
		height: 42px
		+font-size(18px)
		font-weight: 900
		font-style: normal
		line-height: 1.17
		color: #424b56
		margin-bottom: 15px
	&__text
		font-weight: 500
		+font-size(14px)
		line-height: 1.21
		color: #343c47
		text-align: left
		height: 60px
.arrow
	position: absolute
	bottom: 10px
	right: 10px
	width:  21px
	height: 14px
	display: inline-block
.js-news
	.slick-prev:before
		content: ""
		background: url("../img/general/arrow-left.png") no-repeat center
		width: 20px
		height: 28px
		display: inline-block
	.slick-prev
		left: 0
	.slick-next
		right: 0
	.slick-next:before
		content: ""
		background: url("../img/general/arrow-right.png") no-repeat center
		width: 20px
		height: 28px
		display: inline-block
	.slick-prev:hover.slick-prev:before
		content: ""
		background: url("../img/general/arrow-blue-left.png") no-repeat center
		width: 20px
		height: 28px
		display: inline-block
	.slick-next:hover.slick-next:before
		content: ""
		background: url("../img/general/arrow-blue-right.png") no-repeat center
		width: 20px
		height: 28px
		display: inline-block

.section-comments
	padding: 0
.comment
	text-align: center
	width: 100%
	max-width: 700px
	margin: auto
	margin-top: 20px
	padding: 0 30px
	&__item
		text-align: center
		margin: 70px 20px
		display: inline-block
		position: relative
		box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.27)
		width: 100%
		max-width: 700px
		background-color: #FFFFFF
		padding: 50px
	&__img
		position: absolute
		left: 50%
		transform: translateX(-50%)
		top: -40px
	&__title
		font-family: 'SF UI Display-heavy'
		+font-size(20px)
		font-weight: 900
		color: #3d4654
		margin-bottom: 5px
	&__text
		font-family: 'SF UI Display-m'
		+font-size(14px)
		font-weight: 500
		line-height: 1.29
		text-align: left
.rating
	margin-bottom: 10px

.js-comment
	.slick-prev:before
		content: ""
		background: url("../img/general/arrow-left.png") no-repeat center
		width: 20px
		height: 28px
		display: inline-block
	.slick-prev
		left: 0
	.slick-next
		right: 0
	.slick-next:before
		content: ""
		background: url("../img/general/arrow-right.png") no-repeat center
		width: 20px
		height: 28px
		display: inline-block
	.slick-prev:hover.slick-prev:before
		content: ""
		background: url("../img/general/arrow-blue-left.png") no-repeat center
		width: 20px
		height: 28px
		display: inline-block
	.slick-next:hover.slick-next:before
		content: ""
		background: url("../img/general/arrow-blue-right.png") no-repeat center
		width: 20px
		height: 28px
		display: inline-block

.qiote
	position: absolute
	left: 22px
	width: 57px
	height: 52px
	top: -52px

// rating

fieldset, label
	margin: 0
	padding: 0

/****** Style Star Rating Widget *****/
.rating-block
	width: 100%
	+flexBlockRow
	justify-content: center
.rating
	border: none
	//float: left

.rating > input
	display: none
.rating > label:before
	margin: 5px
	font-size: 1.25em
	font-family: FontAwesome
	display: inline-block
	content: "\f005"


.rating > .half:before
	content: "\f089"
	position: absolute


.rating > label
	color: #ddd
	float: right


/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label /* show gold star when clicked */
	color: #FFD700
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label
	color: #FFD700   /* hover previous stars in list */

.rating > input:checked + label:hover, .rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label
	color: #FFED85

.bg-white-last
	background: #f5f7fa url("../img/general/bg-white-last.png") no-repeat center center
	background-size: cover
	padding: 200px 0
	//margin-top: -181px
	padding-bottom: 100px

.header .level-1 .dropdown-menu
	padding: 0